<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Chart</title>
</head>
<body onload="loadChart();">
<script src="/static/jquery-3.6.0.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>

function loadChart(){
	let list = new Array();
	let targets = ["동화약품","유한양행","유한양행우","유유제약"];
	let names = new Array();
	{{ data|safe }}.forEach(item => {
		list.push(item);
		if(!names.includes(item.s_name))
			names.push(item.s_name);
	})
	
	let code = "<table border='1'>";
	code += 		"<tr>";
	
	//targets = names;

	for(var i in names){
		code +=			"<td><canvas class='myChart'></canvas></td>";
		if(i % 4 == 3)
			code += "</tr><tr>";
	}
		
	
	code +=			"</tr>";
	code +=		"</table>";

	document.querySelector("body").innerHTML = code;

	let datas = new Array();
	for(var i in names){
		var name = names[i];
		var r = Math.ceil(Math.random()*255) + 1;
		var g = Math.ceil(Math.random()*255) + 1;
		var b = Math.ceil(Math.random()*255) + 1;
		
		var map = new Object();
		map[name] = "rgb("+r+","+g+","+b+")";
		datas.push([map]);
	}
	
	let date = new Array();
	alert(3);
	for(let i in datas){
		arr = new Array();
		for(var j in list){
			for(let key in datas[i][0]){
				if(list[j].s_name == key)
					arr.push(list[j].price);
			}
		}
		
		if(i == 0){
			for(var j in list){
				for(let key in datas[i][0]){
					if(list[j].s_name == key)
						date.push(list[j].s_date);
				}
			}
		}
		// datas[i][1] = arr; 
		datas[i].push(arr);
	}
	alert(4);
	for(let i in datas){
		
		let dataset = "";
		for(let key in datas[i][0]){
			dataset = {
			  label: key,
			  data: datas[i][1],
			  fill: false,
			  borderColor: datas[i][0][key],
			  tension: 0.1
			};	
		}
		
		const ctx = document.getElementsByClassName('myChart')[i].getContext('2d');
		
		const labels = date;
		const data = {
		  labels: labels,
		  datasets: [dataset]
		};

		const config = new Chart(ctx, {
		  type: 'line',
		  data: data,
		});	
	}
	alert(5);
}

</script>
</body>
</html>




