<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<!-- 패키지 위치 지정 -->
		<typeAlias type="kr.or.ddit.domain.BoardVO" alias="boardVO"/>
		<typeAlias type="kr.or.ddit.domain.MemberVO" alias="memberVO"/>
		<typeAlias type="kr.or.ddit.domain.AuthVO" alias="authVO"/>
	</typeAliases>
</configuration>