<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<script src="/static/jquery-3.6.0.js"></script>
<script src="/static/axios.js"></script>
<!-- <script src="static/jquery-3.6.0.js"></script> -->
<script type="text/javascript">
	
	async function fn_insert(){
		
		// '동기' 통신을 구현하고자 하는 경우
		// ajax는 간혹가다 오류를 발생시킬 수도 있으니
		// axios를 사용하는 것이 더 좋을 수 있다.
		
		var parameter = new URLSearchParams();
		parameter.append("col1",$("#col1").val());
		parameter.append("col2",$("#col2").val());
		parameter.append("col3",$("#col3").val());
		
		var response = await axios({
			url:"ajax_insert",
			method:"post",
			data: parameter
		});
		
		console.log(response);
		
		if(response.data.msg == "ok")
			location.reload();
		else
			alert("추가도중 문제가 발생했습니다.");
		
	}
	
	function fn_ajax(){
		return;
		parameter = {
			"col1":$("#col1").val(),
			"col2":$("#col2").val(),
			"col3":$("#col3").val()
		}
		
		var result = "";
		
		// ajax : 어디서 데이터를 요청해도 동시에 빠르게 데이터를 가져올 수 있도록 함
		
		for(var i=0; i<100; i++){
			parameter.col01 = 100 + i;
			$.ajax({ 
				type: "POST", 
				url: "ajax_sync", 
				data: parameter, 
				async: false, // 동기 방식
				success: function(data){
					result = data.msg;
				}, 
				error: function(data){
					
				},
				dataType: 'json'
			});	
			
			// ajax가 종료된 다음에 결과값을 받아온다. (동기방식이기 때문에)
			console.log(result);
		}
		
	}
	
	function fn_update(){
		parameter = {
			"col1":$("#col1").val(),
			"col2":$("#col2").val(),
			"col3":$("#col3").val()
		}
		
		$.ajax({ 
			type: "POST", 
			url: "ajax_update", 
			data: parameter, 
			success: function(data){
				alert(data.msg+"개 수정되었습니다.");
				location.reload();
			}, 
			error: function(data){
				
			},
			dataType: 'json'
		});
	}
	
	function fn_delete(){
		
		if(confirm("정말 삭제하시겠습니까?")){
			parameter = {
				"col1":$("#col1").val()
			}
			
			$.ajax({ 
				type: "POST", 
				url: "ajax_delete", 
				data: parameter, 
				success: function(data){
					alert(data.msg+"개 삭제되었습니다.");
					location.reload();
				}, 
				error: function(data){
					
				},
				dataType: 'json'
			});
		}
	}
	
	function setData(col01,col02,col03){
		$("#col1").val(col01);
		$("#col2").val(col02);
		$("#col3").val(col03);
	}
</script>
<body>
	<table border="1">
		<tr>
			<td>컬럼1</td>
			<td><input type="text" id="col1"></td>
		</tr>
		<tr>
			<td>컬럼2</td>
			<td><input type="text" id="col2"></td>
		</tr>
		<tr>
			<td>컬럼3</td>
			<td><input type="text" id="col3"></td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="button" value="추가" onclick="fn_insert()"/>
				<input type="button" value="수정" onclick="fn_update()"/>
				<input type="button" value="삭제" onclick="fn_delete()"/>
				<input type="button" value="ajax동기" onclick="fn_ajax()"/>
			</td>
		</tr>
	</table>
	<table border='1'>
		<tr>
			<th>컬럼1</th>
			<th>컬럼2</th>
			<th>컬럼3</th>
		</tr>
	{% for v in data %}
	    <tr onClick=location.href="javascript:setData('{{v.col01}}','{{v.col02}}','{{v.col03}}')">
	    	<td>{{v.col01}}</td>
	    	<td>{{v.col02}}</td>
	    	<td>{{v.col03}}</td>
    	</tr>	
	{% endfor %}
	</table>
</body>
</html>




