<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 함수를 미리 만들어줌 -->
    <script>
        var jsonFlickrFeed = function(p_json){
            console.log(p_json); // 눈으로 값 확인!
        }
    </script>
    <script src="https://www.flickr.com/services/feeds/photos_public.gne?tags=cat&format=json"></script>
</body>
</html>