<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>불품없는 게시판 리스트</h1>
    <a href="write.html">글쓰기</a>
    <div id="id_disp"></div> <!-- display용 -->
    <script>

        var v_disp = document.querySelector("#id_disp");

        var v_tblName = "Gesi"; // key값 고정
        var v_guls = JSON.parse(localStorage.getItem(v_tblName));

        var v_tblStr =  "<table border=1>";
            v_tblStr +=     "<tr><th>순번</th><th>제목</th><th>글쓴이</th><th>능력들</th></tr>";

        for(var i in v_guls) {
            v_tblStr +=     "<tr>";
            v_tblStr +=         "<td>" + v_guls[i].pid + "</td>";
            v_tblStr +=         "<td>" + v_guls[i].title + "</td>";
            v_tblStr +=         "<td>" + v_guls[i].writer + "</td>";
            v_tblStr +=         "<td>" + v_guls[i].skills + "</td>";
            v_tblStr +=     "</tr>";
        }

            v_tblStr += "</table>";
            v_disp.innerHTML = v_tblStr;

    </script>
</body>
</html>