<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        // localStorage(브라우져 영구저장소) 사용법(Cookie대용으로 많이 사용)
        // 일부 사이트는 사용자에 관련된 정보만 사용자 브라우져에 저장해서 사용
        localStorage.setItem("내키","167"); // key-value 쓰깅
        localStorage.setItem("발사이즈","245"); // key-value 쓰깅
    </script>
</body>
</html>