<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<script src="/static/jquery-3.6.0.js"></script>
<!-- <script src="static/jquery-3.6.0.js"></script> -->
<script type="text/javascript">
	function fn_insert(){
		parameter = {
			"e_id":$("#e_id").val(),
			"e_name":$("#e_name").val(),
			"sex":$("#sex").val(),
			"addr":$("#addr").val()
		}
		
		$.ajax({ 
			type: "POST", 
			url: "ajax_insert", 
			data: parameter, 
			success: function(data){
				if(data.msg == "ok")
					location.reload();
				else
					alert("추가도중 문제가 발생했습니다.");
			}, 
			error: function(data){
				
			},
			dataType: 'json'
		});
		
	}
	
	function fn_update(){
		parameter = {
			"e_id":$("#e_id").val(),
			"e_name":$("#e_name").val(),
			"sex":$("#sex").val(),
			"addr":$("#addr").val()
		}
		
		$.ajax({ 
			type: "POST", 
			url: "ajax_update", 
			data: parameter, 
			success: function(data){
				alert(data.msg+"개 수정되었습니다.");
			}, 
			error: function(data){
				
			},
			dataType: 'json'
		});
	}
	
	function fn_delete(){
		
		if(confirm("정말 삭제하시겠습니까?")){
			parameter = {
				"e_id":$("#e_id").val()
			}
			
			$.ajax({ 
				type: "POST", 
				url: "ajax_delete", 
				data: parameter, 
				success: function(data){
					alert(data.msg+"개 삭제되었습니다.");
				}, 
				error: function(data){
					
				},
				dataType: 'json'
			});
		}
	}
	
	function setData(v){
		/* document.getElementById("e_id").value = id;
		document.getElementById("e_name").value = name;
		document.getElementById("sex").value = sex;
		document.getElementById("addr").value = addr; */
		
		$("#e_id").val(v.E_ID);
		$("#e_name").val(v.E_NAME);
		$("#sex").val(v.SEX);
		$("#addr").val(v.ADDR);
	}
</script>
<body>
	<table border="1">
		<tr>
			<td>아이디</td>
			<td><input type="text" id="e_id"></td>
		</tr>
		<tr>
			<td>이름</td>
			<td><input type="text" id="e_name"></td>
		</tr>
		<tr>
			<td>성별</td>
			<td><input type="text" id="sex"></td>
		</tr>
		<tr>
			<td>주소</td>
			<td><input type="text" id="addr"></td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="button" value="추가" onclick="fn_insert()"/>
				<input type="button" value="수정" onclick="fn_update()"/>
				<input type="button" value="삭제" onclick="fn_delete()"/>
			</td>
		</tr>
	</table>
	<table border='1'>
		<tr>
			<th>아이디</th>
			<th>이름</th>
			<th>성별</th>
			<th>주소</th>
		</tr>
	{% for v in data %}
	    <tr onClick="location.href='javascript:setData({{v}})'">
	    	<td>{{v.E_ID}}</td>
	    	<td>{{v.E_NAME}}</td>
	    	<td>{{v.SEX}}</td>
	    	<td>{{v.ADDR}}</td>
    	</tr>	
	{% endfor %}
	</table>
</body>
</html>




