<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ㅇㅁ</title>
<style>
	
	table {
		line-height : 0;
		border-collapse : collapse;
	}
	
	td {
		padding : 0;
	}
	
</style>
</head>
<body onload="myinit()">
	<script>
		
		var flag_wb = true;
		var flag_ing = true;
		var lenth = 19;
		
		var arr2d = [];
		var img2d = [];
		
		function myinit(){
			
			var code = 	"<input type='button' value='초기화' onclick='myreset()'/>";
			code +=  	"<table style='border:2px solid brown;'>";
			for(var i=0; i<lenth; i++){
				code += 	"<tr>"
				var line = [];
				for(var j=0; j<lenth; j++){
					code += 	"<td>";
					code += 		"<input class='bd' type='image' src='/static/image/0.png'>";
					code += 	"</td>";
					line.push(0);
				}
				code += 	"</tr>"
				arr2d.push(line);
			}
			code += 	"</table>";
			
			document.querySelector("body").innerHTML = code;	
			
			var imgs = document.getElementsByClassName("bd");
			for(var i=0; i<lenth; i++){
				var line = [];
				for(var j=0; j<lenth; j++){
					line.push(imgs[lenth*i+j]);
				}
				img2d.push(line);
			}
			
			for(var i=0; i<lenth; i++){
				for(var j=0; j<lenth; j++){
					img2d[i][j].alt = i+","+j;
					img2d[i][j].onclick = myclick;
				}
			}
			
			myrender();
		}
		
		function myreset(){
			
			for(var i=0; i<lenth; i++)
				for(var j=0; j<lenth; j++)
					arr2d[i][j] = 0;
			
			flag_wb = true;
			flag_ing = true;
			myrender();
		}
		
		function myclick(obj){ // 자기 자신을 가져온다.
			
			if(!flag_ing) return;
			
			var str_ij = obj.target.alt;
			var arr_ij = str_ij.split(",");
			var i = parseInt(arr_ij[0]);
			var j = parseInt(arr_ij[1]);
			
			if(arr2d[i][j] != 0) return;
			
			var stone = -1;
			if(flag_wb) {arr2d[i][j] = 1; stone = 1;}
			else {arr2d[i][j] = 2; stone = 2;}
			
			myrender();
			var vd = verdict(i,j,stone);
			
			if(vd && flag_wb){
				setTimeout(alert("백돌승리"), 1); 
				flag_ing = false;
				return;
			}
			
			if(vd && !flag_wb) {
				setTimeout(alert("흑돌승리"), 1); 
				flag_ing = false;
				return;
			}
			
			flag_wb = !flag_wb;
		}
		
		function verdict(i,j,stone){
			
			var up = checkUP(i,j,stone);
			var dw = checkDW(i,j,stone);
			
			var lt = checkLT(i,j,stone);
			var rt = checkRT(i,j,stone);
			
			var lu = checkLU(i,j,stone);
			var ru = checkRU(i,j,stone);
			
			var ld = checkLD(i,j,stone);
			var rd = checkRD(i,j,stone);
			
			if(up + dw + 1 >= 5) return true;
			if(lt + rt + 1 >= 5) return true;
			if(lu + rd + 1 >= 5) return true;
			if(ld + ru + 1 >= 5) return true;
			
			return false;
		}
		
		function checkUP(i,j,stone){
			var ret = 0;
			try{
				while(true){
					i--;
					if(arr2d[i][j] == stone) ret++;
					else return ret;
				}
			} catch(err){
				return ret;
			}
		}
		
		function checkDW(i,j,stone){
			var ret = 0;
			try{
				while(true){
					i++;
					if(arr2d[i][j] == stone) ret++;
					else return ret;
				}
			} catch(err){
				return ret;
			}
		}
		
		function checkLT(i,j,stone){
			var ret = 0;
			try{
				while(true){
					j--;
					if(arr2d[i][j] == stone) ret++;
					else return ret;
				}
			} catch(err){
				return ret;
			}
		}
		
		function checkRT(i,j,stone){
			var ret = 0;
			try{
				while(true){
					j++;
					if(arr2d[i][j] == stone) ret++;
					else return ret;
				}
			} catch(err){
				return ret;
			}
		}
		
		function checkLU(i,j,stone){
			var ret = 0;
			try{
				while(true){
					i--;
					j--;
					if(arr2d[i][j] == stone) ret++;
					else return ret;
				}
			} catch(err){
				return ret;
			}
		}
		
		function checkRU(i,j,stone){
			var ret = 0;
			try{
				while(true){
					i--;
					j++;
					if(arr2d[i][j] == stone) ret++;
					else return ret;
				}
			} catch(err){
				return ret;
			}
		}
		
		function checkLD(i,j,stone){
			var ret = 0;
			try{
				while(true){
					i++;
					j--;
					if(arr2d[i][j] == stone) ret++;
					else return ret;
				}
			} catch(err){
				return ret;
			}
		}
		
		function checkRD(i,j,stone){
			var ret = 0;
			try{
				while(true){
					i++;
					j++;
					if(arr2d[i][j] == stone) ret++;
					else return ret;
				}
			} catch(err){
				return ret;
			}
		}
		
		function myrender(){
			for(var i=0; i<lenth; i++){
				for(var j=0; j<lenth; j++){
					img2d[i][j].src = "/static/image/"+arr2d[i][j]+".png";
				}
			}
		}
	</script>
</body>
</html>